{% extends 'base.html.twig' %}
 
{% block title %}Hello DemoController!{% endblock %}
 
{% block body %}
<div id="menu" class="bg-crypto-light h-16" >
    <h1 style="color: white;" class="font-bold">Crypto Tracker
    <i class="fas fa-plus fa-3x right-full float-right" style="color: white;"></i>
    <i class="fas fa-pen  fa-3x right-full float-right" style="color: white;"></i></h1>
</div>
<div id="compteur" class="bg-black h-48 w-full overflow-hidden">
    <img src="{{ asset('img/backgroundcompteur.png') }}" class="w-full z-10">
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <table class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th style="border-top:0px solid black; padding-left: 9px; text-align: center;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for crypto in listeCrypto %}
                    <tr>
                        <td style="color: #efefef;" class="font-bold"><img src="{{ asset('img/' ~ crypto.name ~ '.png') }}" class="w-10 float-left">{{ crypto.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
{% endblock %}