{% extends "base.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <div class="justify-center">
        </div>
        <h1 class="text-center" style="color: white;"><a href="{{ path('accueil')}}" style="color: white;"><i class="fas fa-times float-left ml-5 mt-2"></a></i>Ajout d'une crypto</h1>
        <hr />
        {{ include('crypto/cryptoFormulaire.html.twig')}}
    </div>
</html>
{% endblock %}