{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}
 
{% block body %}
<h1 style="color: white;">{{ message }}</h1>
<p>
<h1 style="color: white;">Vous serez rediriger dans 1 minute</h1>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready( function () {
        window.setTimeout(function(){
            location.href = "{{ path('accueil') }}";
        }, 60000);
    } );
</script>
{% endblock %}