{% extends 'base.html.twig' %}

{% block title %}Error Page{% endblock %}
 
{% block body %}
<div class="justify-center">
    <h1 class="text-center mt-2" style="color: white;"><a href="{{ path('accueil')}}" style="color: white;"><i class="fas fa-times float-left ml-5 mt-2"></a></i><b>Erreur</b></h1>
    <hr />
    <h2 class="ml-5" style="color: white;">{{ message }}</h1>
    <h2 class="ml-5" style="color: white;">Vous serez rediriger automatiquement dans 1 minute</h1>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready( function () {
        window.setTimeout(function(){
            location.href = "{{ path('accueil') }}";
        }, 60000);
    } );
</script>
{% endblock %}