{% extends "base.html.twig" %}
{% block title%}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div>
    <div class="justify-center">
        </div>
        <h1 class="text-center mt-2" style="color: white;"><a href="{{ path('accueil')}}" style="color: white;"><i class="fas fa-times float-left ml-5 mt-2"></a></i><b>Supprimer un montant<b></h1>
        <hr />
        {{ include('crypto/cryptoFormulaireModification.html.twig')}}
    </div>
</html>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready( function () {
        $("ul li").css('color', 'red');
        quantity = $("#crypto_modification_quantity").val();
        if(quantity > 0){
            document.cookie = quantity;
            $("#crypto_modification_quantity").val('');
            $("#crypto_modification_quantity").attr("placeholder", "Choisissez un montant a retirer a cette cryptomonnaie, montant actuel : " + quantity);
        }
        if(quantity < 0){
            $("#crypto_modification_quantity").val('');
            $("#crypto_modification_quantity").attr("placeholder", "Choisissez un montant a retirer a cette cryptomonnaie, montant actuel : " + document.cookie);
        }
        if(quantity == 0){
            console.log('oui');
            $("#crypto_modification_quantity").val('');
            $("#crypto_modification_quantity").attr("placeholder", "La quantité actuelle de cette crypto est de 0");
        }
    } );
</script>
{% endblock %}